.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(tomato, rgba(247, 110, 95, 0.904));
}

header h1{
    margin: 0px 0px 0px 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.navi-logo{
    color: #fff;
    text-decoration: none;
}

.contant{
    display: flex;
    list-style: none;
}

.navi-list-color ul li{
    margin: 0px 15px;
}

.navi-list-color ul li, .navi-contant-link{
    color: #fff;   
    text-decoration: none;
    align-self: center;
    /* padding: 0px 0px 0px 15px; */
}