body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flex-2-containt {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    padding: 0% 0% 0% 5%;
    width: 50%;
}

.half-width img {
    padding: 5%;
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 117, 102), rgb(153, 17, 2));
    padding: 8px 30px;
    border-radius: 85px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middel-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.middel-banner div h3{
    color: rgb(65, 61, 61);
    font-style: italic;
}

.work-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.work-item{
    width: 50%;
    margin: 0% 5%;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
}

#item1{
    border-left: 5px solid;
    border-image: linear-gradient(lavender, purple);
    border-image-slice: 1;
}

#item2{
    border-left: 5px solid;
    border-image: linear-gradient(royalblue, cyan);
    border-image-slice: 1;
}