/* index */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.fatema{
    font-weight: 600;
}

.note{
    color: orangered;
    font-weight: 600;
}

.flex-2-containt {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    padding: 0% 0% 0% 5%;
    width: 50%;
}

.half-width img {
    padding: 5%;
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 117, 102), rgb(153, 17, 2));
    padding: 8px 30px;
    border-radius: 10px;
}

.link-button:hover{
    background-image: linear-gradient(orangered, rgb(153, 17, 2));
}

.link-button:focus{
    background-image: -moz-linear-gradient(orangered, rgb(153, 17, 2));
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middel-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.middel-banner div h3{
    color: rgb(65, 61, 61);
    font-style: italic;
}

.work-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.work-item{
    width: 50%;
    margin: 0% 5%;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
}

#item1{
    border-left: 5px solid;
    border-image: linear-gradient(lavender, purple);
    border-image-slice: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#item2{
    border-left: 5px solid;
    border-image: linear-gradient(royalblue, cyan);
    border-image-slice: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#eq-1{ /*Mathematics equation*/
    width: 160px;
}

/* Poem.html*/
#poem-choos{
    margin: 5px 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.h3-color{
    font-size: 17px;
    padding: 5px;
    color: #fff;
    background-image: linear-gradient(gray, black);
    width: fit-content;
    border-radius: 5px;
}

.prothom-borsha ul li a{
    color: #000;
    text-decoration: solid;
}

.achin-nabik ul li a{
    color: #000;
    text-decoration: solid;
}

.pothiker-hawai-mithai ul li a{
    color: #000;
    text-decoration: solid;
}

.text-align{
    text-align: center;
}

.text-align h1{
    font-size: 30px;
}

section div ul li a:focus{
    font-size: large;
    text-shadow: 4px 4px 2px black;
}

section div ul li a:visited{
    color: rgb(46, 46, 46);
}

/* short-stoyr */

.text-align-h1{
    text-align: center;
    font-size: 30px;
}